<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />

    <application
        android:name="de.jeisfeld.lut.app.Application"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="de.jeisfeld.lut.app.MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name="de.jeisfeld.lut.app.util.ExternalTriggerReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver,Instantiatable">
            <intent-filter>
                <action android:name="de.jeisfeld.randomimage.DISPLAY_RANDOM_IMAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="de.jeisfeld.randomimage.DISPLAY_NOTIFICATION" />
            </intent-filter>
            <intent-filter>
                <action android:name="de.jeisfeld.breathtraining.BREATH_EXERCISE" />
            </intent-filter>
            <intent-filter>
                <action android:name="de.jeisfeld.dsmessenger.TRIGGER_LUT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>